<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Klool Hottel</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../asset/css/style.css">

</head>

<body>
    <header>
        <div id="menu-bar" class="fas fa-bars"></div>
        <a href="#" class="logo">Klook</a>
        <nav class="navbar">
            <a href="">Home</a>
            <a href="">Login</a>
            <a href="">Signup</a>
            <a href="">Contact</a>
        </nav>
    </header>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../asset/css/script.js"></script>
</body>

</html>