<section class="book" id="book">
    <h1 class="heading">
        <span>Đặt phòng ngay</span>
    </h1>
    <div class="row">
        <form action="">
            <div class="inputBox">
                <h3>Điểm đến</h3>
                <input type="text" placeholder="Điền vào đây...">
            </div>
            <div class="inputBox">
                <h3>Số người</h3>
                <input type="number" placeholder="Điền vào đây...">
            </div>
            <div class="inputBox">
                <h3>Checkin</h3>
                <input type="date">
            </div>
            <div class="inputBox">
                <h3>Checkout</h3>
                <input type="date">
            </div>
            <input type="submit" class="btn" value="Book Now">
        </form>
    </div>
</section>