<div id="banner-home">
    <div style="position: relative;">
        <div class="content">
            <p style="font-size: 60px; font-family:-apple-system;">Khách sạn</p>
            <p style="font-size: 20px; font-family:-apple-system;">Lưu lại các điểm đến trong mơ và khám phá những hoạt động độc đáo nhất</p>
        </div>
        <div class="banner-container">
            <img src="https://res.klook.com/image/upload/v1670396889/chvnwkuco13yi2b2uyad.png" id="banner" width="100%" height="300px"></img>
        </div>
    </div>
    <form action="">
        <div id="form-booking" style="border-radius: 30px;">
            <div class="row" style="padding:10px; " >
                <div class="col-sm-3" >
                    <div style="background-color: #f5f5f5; padding: 20px; margin: 0 40px; border-radius: 30px;">
                        <div style="color: #757575; font-weight: 600;">Điểm đến</div>
                        <input id="booking-text" type="text" placeholder="Nhập điểm đến..." style="width: 300px; border-radius: 10px;border: none; outline: none;">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div style="background-color: #f5f5f5; padding: 20px; margin-right:35px; border-radius: 30px;">
                        <div class="row">
                            <div class="col-sm-6">
                                <div  style="color: #757575; font-weight: 600;">Ngày đặt</div>
                                <input id="booking-text" type="date" placeholder="Điền vào đây..." style="width: 180px; border-radius: 10px; border-color: #bdbdbd;">
                            </div>
                            <div class="col-sm-6">
                                <div  style="color: #757575; font-weight: 600;">Ngày trả</div>
                                <input id="booking-text" type="date" placeholder="Điền vào đây..." style="width: 180px; border-radius: 10px; border-color: #bdbdbd;">
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="col-sm-3">
                    <div style="background-color: #f5f5f5;  padding: 20px; border-radius: 30px;">
                        <div  style="color: #757575; font-weight: 600;">Số người</div>
                        <input id="booking-text" type="number" placeholder="Điền vào đây..." style="width: 180px; border-radius: 10px;border: none; outline: none; ">
                    </div>
                </div>
                <div class="col-sm-2">
                        <button id="btn">
                            Tìm Kiếm   
                        </button>
                </div>
            </div>
        </div>
    </form>
    <div style="margin: 40px;">
        <h2>Nghỉ dưỡng với gói ưu đãi</h2>
        <div style="display: flex;">
            <% category.map((item) => { %>
                <div style="margin-left: 10px; position: relative;">
                    <img src="<%= item.banner %>" width="200px" height="200px" style="border-radius: 10px; border: 1px solid rgb(151, 150, 150);"/>
                    <h3 style="position: absolute; bottom: 10px; color: white; left: 40px; font-weight: 600;"><%= item.tilte %></h3>
                </div>
            <% }) %>
        </div>
    </div>
    <div>
        <h2>Các nơi lưu trú nổi bật</h2>
    </div>
    <script src="jquery.min.js"></script>
    <script src="owlcarousel/owl.carousel.min.js"></script>
</div>