<section class="home" id="home" style="margin-top: 80px;">
    <div class="content">
        <h3>Khách sạn</h3>
        <p>Lưu lại các điểm đến trong mơ và khám phá những hoạt động độc đáo nhất</p>
    </div>
    <div class="banner-container">
        <img src="/img/449.jpg" id="banner"></img>
    </div>

</section>
<section class="book" id="book">
    <h1 class="heading">
        <span>Đặt phòng ngay</span>
    </h1>
    <div class="row">
        <form action="">
            <div class="inputBox">
                <h3>Điểm đến</h3>
                <input type="text" placeholder="Điền vào đây...">
            </div>
            <div class="inputBox">
                <h3>Số người</h3>
                <input type="number" placeholder="Điền vào đây...">
            </div>
            <div class="inputBox">
                <h3>Checkin</h3>
                <input type="date">
            </div>
            <div class="inputBox">
                <h3>Checkout</h3>
                <input type="date">
            </div>
            <input type="submit" class="btn" value="Book Now">
        </form>
    </div>
</section>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="script.js"></script>